body{
  margin: 0;
  background-color:#cccccc;
}
/* .content-container{
  width: 960px;
  margin:0 auto;
} */
header {
  background-color: #fff;
}
header .content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
header h1 {
  background-color: #4aaaa5;
  color:#fff;
  font-size: 40px;
  font-family: 'Calistoga', cursive;
  padding: 20px;
  margin:0;
}
.navbar {
  list-style: none;
  background: #ffffff;
  align-items: flex-end;
}
/* /* .navbar li {
  float: right; */
} */
.navbar li a {
  text-decoration: none;
  padding: 15px 20px;
  color: #cccccc;
}
.navbar li a:hover {
  background-color: cadetblue;
  color: #ffffff;
}
#body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 20px 0px
}
#body .content-container {
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
}
.profile-pic {
  float: left;
  margin-right: 20px;
}
.picture {
  width: 250px;
  margin: 20px 20px 0 0;
  float:left;
  position: relative;
}
.caption {
  background-color: #4aaaa5;
  box-sizing: border-box;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 20px
}
#rpg {
  background-color: #4aaaa5;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  width: 210px;
  position: absolute;
  bottom: -195px;
}
.clearfix{
  clear:both;
}
input, textarea{
  width: 900px;
  border: 1px solid #dddddd;
  padding: 5px;
}
textarea {
  height: 300px;
  width: 900px;
  border:1px solid #dddddd
}
button {
  background-color: #4aaaa5;
  border-color: #4aaaa5;
  color: #ffffff;
  width: 90px;
  padding: 10px;
  text-align: center;
  font-size: 1em;
}
.footer {
  clear: both;
  text-align: center;
  color: #ffffff;
  background-color: #666666;
  height: 50px;
  border-top: #4aaaa5 8px solid;
  padding: 50px;
  box-sizing: border-box;
}

/* 
@media (max-width:600px) {
  header .content-container {width: 100%;
    max-width: 600px;
  }
}

@media (max-width:600px) {
  body {
    max-width: 100%;
  }
} */